{#button#}
<div class="login">
    <div type="button" id="entrance_button">
        <a href="javascript:void(0);" class="button login_button">Войти</a>
    </div>
</div>
{#modal#}
<div class="modal_wrapper">
    <div class="modal_login">
        <div class="base_block">
            <div class="btn log">Залогинимся?</div>
            <div class="btn reg">Зарегестрируемся</div>
            <div class="form_block">
                <div id="close_modal"> закрыть</div>
                <div class="form_block_wrapper">
                    <div class="action">
                        <label for="POST-name">Логин:</label>
                        <input id="POST-name" type="text" name="login" id="login" class="input">
                        <label for="POST-name">Пароль:</label>
                        <input id="POST-name" type="text" name="name">
                        <input type="submit" value="Войти" class="login_button button">
                    </div>
                </div>
                <div class="form_block_reg">
                    <div class="action">
                        <label for="POST-name">Логин:</label>
                        <input type="text" name="login" id="login" class="input">
                        <label for="POST-name">Пароль:</label>
                        <input type="text" id="password" name="password">
                        <input type="submit" value="Зарегестрироваться" id="reg" class="reg_button button">
                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>