<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/request.js"></script>
<div class="about" id="about">
    <p class="vertical-text">About Musk</p>
    {{ include('login.twig') }}
    {{ include('menu.twig') }}
    <div class="container-fluid row_block" id="row_block">
        <div class="row-fluid">
            <div class="news_row span11" id="news_row">
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>