<div class="side-menu" id="side-menu">
    <ul class="menu-list">
        <li>
            <a href="javascript:void(0);" class="button side_item" id="elon_button">Илон</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="button side_item" id="tesla_button">Tesla</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="button side_item" id="spase_button">SpaseX</a>
        </li>
        <li>
            <a href="javascript:void(0);" class="button side_item" id="boring_button">Boring company</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="clear"></div>
</div>
